<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Christophs CS 253 Blog</title>
</head>

<body>
  <a href="/blog" class="main-title">
    Christophs CS 253 Blog
  </a>

 

  <div id="content">
  
  {% for post in posts %}  
  
    <div class="post">
  <div class="post-heading">
    <a href="/blog/{{post.key().id()}}" class="post-title">
      {{post.title}}
    </a>

    <div class="post-date">
      {{post.created}}
    </div>
  </div>

  <div class="post-content">
    {{post.content}}
  </div>
</div>
    <br><br>
  
  {% endfor %}
   
</div>
</body>

</html>
